* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#app_header {
    height: 50px;
    background-color: darkslategray;
    text-align: end;

}

.btn {
    background-color: black;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border-width: 0;
    margin: 0.25rem;

}

#app_main {
    background-color: blue;
   height:calc(120vh- 100px) ;

}

.columns {
    display: flex;
    flex-wrap:wrap;
    overflow-y: auto;



}

.column {
    position: relative;
    width: 250px;
   
    
}


.names {
    position: absolute;
    right: 3.20rem;
    bottom: 0.25rem;
    background-color: red;
    padding: 0.25rem;
    color: white;
}





#app_footer {
    height: 70px;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fleft .fcenter .fright {
    display: flex;
    align-items: center;
    gap: 0.75rem;

}

footer .icona {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .icona>span {
    font-size: 0.8rem;

}

.fright button {
    height: 100%;
    color: red;

}


img {
    max-width: 100%;
}